.container {
    width:21.875rem ;
    height:23.4375rem ;
    background: url('../assets/images/bg-pattern-card.svg') top center no-repeat, white;
    border-radius: 5%;
    display: grid;
    justify-items: center;
    grid-template:1fr repeat(2,90px) / 1fr;
    z-index: 2;
}

.container-picture {
    margin-top: 5.5rem ;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 6px solid white;
}

h2 {
    font-size: var(--max-fs);
    font-weight: 700;
}

h3, .container-name-age h2::after {
    opacity: 0.6;
    font-weight: 400;
}

.container-name-age h2::after {
    content: "26";
    margin-left: 0.5625rem;
}

.container-social-information {
    display: grid;
    border-top: 1px solid #e7e7e7;
    width: 100%;
    grid-template: repeat(2,1fr) / 40px repeat(3,1fr) 40px;
    justify-items: center;
    align-items: flex-end;
}

.container-social-information h2, .container-social-information h3 {
    margin: 0;
    padding: 2px;
}

[class*=social] h2:nth-last-child(6) {
    grid-area: 1 / 2 / 2 / 3 ;
    /* color: yellowgreen; */
}
[class*=social] h2:nth-last-child(4) {
    /* color: blue; */
    grid-column: 3 /4 ;
    grid-row: 1 / 2;
}
[class*=social] h2:nth-last-child(2) {
    /* color: red; */
    grid-area: 1 / 4 / 2 / 5 ;
}
h3:nth-last-child(1) {
    grid-area: 2 / 4/ 3 /5;
    align-self: flex-start;
}
h3:nth-last-child(3) {
    grid-area: 2 / 3/ 3 /4;
    align-self: flex-start;
}
h3:nth-last-child(5) {
    grid-area: 2 / 2 / 3 /3;
    align-self: flex-start;
}

[class="bg"] {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    user-select: none;
}

.bg-top {
    position: fixed;
    bottom: 43%;
    right: 50%;
}

.bg-bottom{
    position: fixed;
    top: 50%;
    left: 45%;
}
@media screen and (max-width:1024px){

    .container-social-information {
        grid-template: repeat(2,1fr) / 10px repeat(3,1fr) 10px;
    }

    /* .bg-top {
    bottom: 65%;
    }

    .bg-bottom{
        top:33%;
    } */
}


@media screen and (max-width:375px){
    .container {
        margin: 10px;
    }
    .container-social-information {
        grid-template: repeat(2,1fr) / 10px repeat(3,1fr) 10px;
    }

    .bg-top {
    bottom: 40%;
    }

    .bg-bottom{
        top:45%;
    }
}


/*  

411 X 823
768 X 1024
1024 X 1366

*/