@import 'container.css';

:root {
    --primary-color: hsl(228, 45%, 44%);
    --med-fs : 1em;
    --max-fs : 1.125rem;
}

body {
    font-size: 11px;
    text-align: center;
    width: 94vw;
    height: 100vh;
    margin: 0 auto;
    background:  #19a1ad;
    font-family: 'Kumbh Sans', sans-serif;   
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 1440px;
    max-height: 720px;
}

@media screen and (max-width:22.4rem){
    body{
        width: 90vw;
    }
}