@import 'container.css';

:root {
    --primary-color: hsl(228, 45%, 44%);
    --med-fs : 1em;
    --max-fs : 1.125rem;
}

body {
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    /* height: 100vh; */
    height: 720px;
    /* width: 100vw; */
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #19a1ad;
    background-clip: padding-box;
    font-family: 'Kumbh Sans', sans-serif;
}